
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TableLayout.cshtml";
}
<style>
    .card-footer {
        height: 390px !important;
    }

    .card {
        height: 400px !important;
    }
</style>
<div class="card">
    <article class="card-body">
        <a href="" class="float-right btn btn-outline-primary">Sign up</a>
        <h4 class="card-title mb-4 mt-1">Sign in</h4>
        <form>
            <div class="form-group">
                <label>Your email</label>
                <input name="" class="form-control" placeholder="Email" type="email">
            </div> <!-- form-group// -->
            <div class="form-group">
                <a class="float-right" href="#">Forgot?</a>
                <label>Your password</label>
                <input class="form-control" placeholder="******" type="password">
            </div> <!-- form-group// -->
            <div class="form-group">
                <div class="checkbox">
                    <label> <input type="checkbox"> Save password </label>
                </div> <!-- checkbox .// -->
            </div> <!-- form-group// -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Login  </button>
            </div> <!-- form-group// -->
        </form>
    </article>
</div> <!-- card.// -->
<!-- Button trigger modal -->



<script type="text/javascript">

    @if(!String.IsNullOrEmpty(ViewBag.Message))
    {
        @:alert('@ViewBag.Message');
    }

    $('#btnLogin').click(function () {
        fnLoader();
        $('form').submit();
    });

    $('#registro').click(function () {
        fnLoader();
        $('form').submit();
    });
    $('#forgotpass').click(function () {
        fnLoader();
        $('form').submit();
    });

</script>