<link href="~/Content/select2/css/select2.min.css" rel="stylesheet" />
<script src="~/Content/select2/js/select2.min.js"></script>
<script src="~/Content/bootoast/js/bootoast.min.js"></script>
    <link href="~/Content/bootoast/css/bootoast.css" rel="stylesheet" type="text/css">

<div class="modal fade" id="modalogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
                <div class="card">
                    <article class="card-body">
                        <img src="~/Imagenes/Cargador/Flextronics.png" style="width:100px" class="float-right"></img>
                        <h4 class="card-title mb-4 mt-1">
                            Login
                        </h4>
                        <form>
                            <div class="form-group">
                                <label>Enter your email or user</label>
                                <input id="email" class="form-control" placeholder="Email">
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                @*<a class="float-right" href="#">Forgot?</a>*@
                                <label>Your password</label>
                                <input id="pass" class="form-control" placeholder="******" type="password">
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                @*<div class="checkbox">
                                    <label> <input type="checkbox"> Save password </label>
                                </div>*@ 
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <button onclick="nuevo()"  class="btn btn-primary btn-block"> Login  </button>
                            </div> <!-- form-group// -->
                        </form>
                    </article>
                </div> <!-- card.// -->
            </div>
            
        </div>
    </div>
</div>

<script type="text/javascript">


    $(document).ready(function () {
        $("#modalogin").modal("show");
       
    });
    function iniciosesion() {

        $.ajax({
            url: '@Url.Action("loginpage", "Login")',
            data: { username: $('#email').val(),password:$('#pass').val() },
                    type: 'POST',
            success: function (response) {
                if (response.success) {
                    debugger
                    alert('hola');
                }
            }
                   
        });
    }
    function nuevo() {
         $.ajax({
            url: '@Url.Action("loginpage", "Login")',
            data: { username: $('#email').val(),password:$('#pass').val() },
            type: 'POST',
             success: function (response) {
                 if (response.Success) {
                               bootoast.toast({
                                  message: response.Message,
                                  type: 'success',
                                  position: 'bottom-center',
                                  timeout: 3000
                               });
                                window.setTimeout(function () {
                                    window.location.href = '@Url.Action("Index","Home")';
                                }, 3000)
                                
                            } else {
                                bootoast.toast({
                                  message: response.Message,
                                  type: 'danger',
                                  position: 'bottom-center',
                                  timeout: 3000
                                });
                                
                            }
            }
                   
        });
    }

</script>
